<div class="container row">
  <div class="col-md-12">
    <h1>ImageBook</h1>
  </div>
</div>
<hr />
<form (ngSubmit)="onSubmit()">
  <div class="form-group container row">
    <div class="col-md-9">
      <input type="file"
        id="image"
        name="image"
        class="form-control-file"
        (change)="onImageFileChange($event.target.files)"
      />
    </div>
  </div>
  <div class="form-group container row">
    <div class="col-md-9">
      <input type="text" [(ngModel)]="description"
        id="description"
        name="description"
        placeholder="Enter a description for the image."
        autocomplete="off"
        minlength="1"
        maxlength="120"
        class="form-control"
        size="100%"
      />
    </div>
    <div class="col-md-3">
      <input type="submit" value="upload"
        id="upload"
        class="btn btn-info"
      />
    </div>
  </div>
</form>
<div class="container row">
  <div class="col-md-12">
    <div id="message">{{message}}</div>
  </div>
</div>
<hr />
<form class="search-form" (ngSubmit)="onSearch(false)">
  <div class="form-group container row">
    <div class="col-md-9">
      <input [(ngModel)]="searchText"
        id="search-searchText"
        name="searchText"
        placeholder="Enter words for searching in descriptions."
        autocomplete="off"
        class="form-control"
      />
    </div>
    <div class="col-md-3">
      <select [(ngModel)]="imageType"
        id="select-image-type"
        name="image-type"
        class="form-control"
      >
        <option value="">-- any --</option>
        <option value="PNG">PNG</option>
        <option value="JPG">JPEG</option>
      </select>
    </div>
  </div>
  <div class="form-group container row">
    <div class="col-md-4">
      <input type="number" [(ngModel)]="minSize"
        id="search-min-size"
        name="min-size"
        class="form-control"
        placeholder="Min size (in bytes)"
      />
    </div>
    <div class="col-md-4">
      <input type="number" [(ngModel)]="maxSize"
        id="search-min-size"
        name="max-size"
        class="form-control"
        placeholder="Max size (in bytes)"
      />
    </div>
    <div class="col-md-4">
      <input type="submit" value="search"
        id="search"
        class="btn btn-secondary"
      />
    </div>
  </div>
</form>
<div class="container row">
  <div *ngFor="let image of response?.content" class="col-md-4">
    <img [src]="image.imageUrl" width="300" />
    <div>{{ image.description }}</div>
    <small>type: {{ image.imageType }} - {{ image.contentSize }} bytes</small>
  </div>
  <div *ngIf="response && (response.content.length === 0)" class="col-md-12 empty">
    No images found for this search.
  </div>
</div>
<div *ngIf="!(response?.last)" class="container row">
  <div class="col-md-12 loading">
    Loading more images...
  </div>
</div>
<div
  class="search-results"
  infiniteScroll
  (scrolled)="onSearch(true)"
></div>
